@import url('../variables/variables.css');

/**
 * Banner ($banner)
 */

:root {
  /* Default */
  --banner-padding: var(--spacing-macro-2);
  --banner-bg-dark-color: var(--color-white);
}

.banner {
  padding-top: var(--banner-padding);
  padding-bottom: var(--banner-padding);
}

.banner-heading {
  margin-top: 0;
}

.banner .quote {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.banner-bg-dark,
.banner-bg-dark h1,
.banner-bg-dark h2,
.banner-bg-dark h3,
.banner-bg-dark h4,
.banner-bg-dark h5,
.banner-bg-dark h6,
.banner-bg-dark a,
.banner-bg-dark .quote {
  color: var(--banner-bg-dark-color);
}

.banner-bg-image {
  background-image: url('../../assets/images/banner-bg-image.jpg');
  background-repeat: repeat;
}
