<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="ClearType" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title, desc -->
    <title>Component: Questionnaire Form &bull; bov-web-components</title>
    <meta name="description" content="A repository for learning web components with Modern Developer.">

    <!-- Styles: Global -->
    <link rel="stylesheet" href="../variables/variables.css">
    <link rel="stylesheet" href="../normalize/normalize.css">
    <link rel="stylesheet" href="../reset/reset.css">
    <!-- Styles: Components -->
    <link rel="stylesheet" href="../alert/alert.css">
    <link rel="stylesheet" href="../backlink/backlink.css">
    <link rel="stylesheet" href="../banner/banner.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../form/form.css">
    <link rel="stylesheet" href="../form-questionnaire/form-questionnaire.css">
    <link rel="stylesheet" href="../icon/icon.css">
    <link rel="stylesheet" href="../main/main.css">
    <link rel="stylesheet" href="../quote/quote.css">
    <link rel="stylesheet" href="../wrapper/wrapper.css">
    <link rel="stylesheet" href="../utilities/utilities.css">
    <!-- Favicons: http://cbrac.co/11ZzQkJ -->
  </head>

  <body>
    <!--[if lte IE 8]><div class="alert alert-neutral">It looks like you are using an outdated browser. Please <a href="http://whatbrowser.org">consider upgrading</a> for a faster, better, and safer web experience.</div><![endif]-->

    <div class="banner banner-bg-dark banner-bg-image" role="banner">
      <div class="wrapper wrapper-md u-text-center">
        <h1 class="banner-heading">Chris Bracco</h1>

        <h2 class="banner-subheading">Career Path 3: Modern Front-End Developer</h2>

        <blockquote class="banner-quote quote">
          <p>If I have seen further it is by standing on ye sholders of Giants.</p>

          <cite><a href="https://en.wikipedia.org/wiki/Standing_on_the_shoulders_of_giants">Issac Newton</a></cite>
        </blockquote>
      </div>
    </div>

    <div class="main" role="main">
      <section class="main-section">
        <div class="wrapper wrapper-md">
          <p class="u-text-center"><a class="backlink" href="../../index.html"><span class="icon">&larr;</span><br>Back to Home</a></p>

          <h1>Project Assignment #4: Creating (Many) Forms and Inputs</h1>

          <h2>Questionnaire Form</h2>

          <form class="form form-questionnaire" id="js-form-questionnaire" action="" method="">
              <fieldset class="form-fieldset">
                <legend class="form-legend">What is your favorite ice cream flavor?</legend>

                <div class="form-group">
                  <label class="form-label form-radio">
                    <input type="radio" class="form-input" name="questionnaireIceCream">
                    Vanilla
                  </label>
                  <label class="form-label form-radio">
                    <input type="radio" class="form-input" name="questionnaireIceCream">
                    Chocolate
                  </label>
                  <label class="form-label form-radio">
                    <input type="radio" class="form-input" name="questionnaireIceCream">
                    Strawberry
                  </label>
                  <label class="form-label form-radio">
                    <input type="radio" class="form-input" name="questionnaireIceCream">
                    Cookies N’ Cream
                  </label>
                  <label class="form-label form-radio">
                    <input type="radio" class="form-input" name="questionnaireIceCream">
                    Other (please specify):
                  </label>
                </div>

                <div class="form-group">
                  <input name="questionnaireOther" type="text" class="form-input" placeholder="e.g. Rocky Road">
                </div>

                <div class="form-group">
                  <input class="form-submit button button-primary" type="submit" value="Submit">
                </div>
              </fieldset>
          </form>
        </div>
      </section>
    </div>

    <div class="footer" role="contentinfo">
      <div class="wrapper wrapper-md u-text-center">
        <p>Made with &#10084; by Chris Bracco. <br>Pattern courtesy of <a href="http://subtlepatterns.com/">Subtle Patterns</a>.</p>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../scripts/validator.js"></script>
    <script src="./form-questionnaire.js"></script>
  </body>
</html>
