/**
 * Dependencies
 * @import url('../variables/variables.css');
 */

/**
 * Reset ($reset)
 */

html {
  font-family: var(--font-family-1);
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  color: var(--color-gray-darker);
}

/**
 * 1. Remove the default margin.
 * 2. Force scrollbars on all pages.
 */

body {
  margin: 0; /* 1 */
  overflow-y: scroll; /* 2 */
}

a:link {
  color: var(--color-theme-primary);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--color-theme-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-1);
  line-height: var(--line-height-2);
  color: var(--color-gray-darkest);
}

h1,
h2 {
  font-weight: var(--font-weight-1);
}

h1 {
  font-size: var(--font-size-macro-5);
}

h2 {
  font-size: var(--font-size-macro-6);
}

h3 {
  font-size: var(--font-size-2);
}

h4,
h5,
h6 {
  font-size: var(--font-size-4);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 *
 * It is okay to use `!important` here because we always want this rule to take
 * precedence.
 *
 * @link http://cbrac.co/1Evazku
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

/**
 * Remove most spacing between table cells.
 * @link http://cbrac.co/11gtlnj
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
