@import url('./variables.css');

/* ========================================================================== *\
   Base ($base)
\* ========================================================================== */

/**
 * Reset ($reset)
 */

html {
  font-family: var(--font-family-1);
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  color: var(--color-gray-darker);
}

/* Remove default margin */
body {
  margin: 0;
}

a:link {
  color: var(--color-theme-secondary);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-1);
  line-height: var(--line-height-2);
  color: var(--color-gray-darkest);
}

h1,
h2 {
  font-weight: var(--font-weight-1);
}

h1 {
  font-size: var(--font-size-macro-5);
}

h2 {
  font-size: var(--font-size-macro-6);
}

h3 {
  font-size: var(--font-size-2);
}

h4,
h5,
h6 {
  font-size: var(--font-size-4);
}

/* ========================================================================== *\
   Components ($components)
\* ========================================================================== */

/**
 * Alert ($alert)
 */

.alert {
  padding: var(--spacing-3);
  background-color: var(--color-gray-lighter);
  color: var(--color-gray-darkest);
}

.alert-positive {
  background-color: var(--color-contextual-positive);
}

.alert-neutral {
  background-color: var(--color-contextual-neutral);
}

.alert-negative {
  background-color: var(--color-contextual-negative);
}

/**
 * Backlink ($backlink)
 */

.backlink {
  display: inline-block;
}

/**
 * Banner ($banner)
 */

.banner {
  padding-top: var(--spacing-macro-2);
  padding-bottom: var(--spacing-macro-2);
}

.banner-heading {
  margin-top: 0;
}

.banner .quote {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.banner-bg-dark,
.banner-bg-dark h1,
.banner-bg-dark h2,
.banner-bg-dark h3,
.banner-bg-dark h4,
.banner-bg-dark h5,
.banner-bg-dark h6,
.banner-bg-dark a,
.banner-bg-dark .quote {
  color: var(--color-white);
}

.banner-bg-image {
  background-image: url('../images/banner-bg-image.jpg');
  background-repeat: repeat;
}

/**
 * Footer ($footer)
 */

.footer {
  margin-top: var(--spacing-macro-5);
  margin-bottom: var(--spacing-macro-5);
  font-size: var(--font-size-5);
}

.footer .wrapper {
  border-top: 1px solid var(--color-gray-light);
  padding-top: var(--spacing-6);
}

/**
 * Main ($main)
 */

.main {
  margin-top: var(--spacing-macro-5);
  margin-bottom: var(--spacing-macro-5);
}

.main-section .wrapper > h1,
.main-section .wrapper > h2,
.main-section .wrapper > h3,
.main-section .wrapper > h4,
.main-section .wrapper > h5,
.main-section .wrapper > h6 {
  margin-top: var(--spacing-em-2);
  margin-bottom: var(--spacing-em-5);
}

.main-section .wrapper > h1 {
  padding-bottom: var(--spacing-em-6);
  border-bottom: 1px solid var(--color-gray-light);
}

.main-section .wrapper > h4,
.main-section .wrapper > h5,
.main-section .wrapper > h6 {
  color: var(--color-gray-dark);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-2);
}

/**
 * Icon ($icon)
 */

.icon {
  display: inline-block;
  text-decoration: none;
}

/**
 * Quote ($quote)
 */

.quote {
  color: var(--color-gray);
  font-family: var(--font-family-2);
  font-style: italic;
  font-size: var(--font-size-3);
  margin-right: 0;
  margin-left: var(--spacing-1);
  padding-left: var(--spacing-1);
  border-left: var(--spacing-5) solid var(--color-gray-light);
}

.quote p {
  margin: 0;
}

.quote p + p {
  margin-top: var(--spacing-em-1);
}

.quote cite:before {
  content: "\2014 \0020";
}

/**
 * Wrapper ($wrapper)
 */

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--wrapper-max-width);
  margin-left: auto;
  margin-right: auto;
}

.wrapper-sm {
  max-width: var(--wrapper-sm-max-width);
}

.wrapper-md {
  max-width: var(--wrapper-md-max-width);
}

.wrapper-lg {
  max-width: var(--wrapper-lg-max-width);
}

/* ========================================================================== *\
   Utilities ($utilities)
\* ========================================================================== */

/**
 * Text Alignment ($text-alignment)
 */

.u-text-left {
  text-align: left;
}

.u-text-right; {
  text-align: right;;
}

.u-text-center {
  text-align: center;
}
