@import url('../form/form.css');

/**
 * Form: Payment ($form-payment)
 */

:root {
  /* Default */
  --form-payment-card-background: var(--color-gray-lightest);
  --form-payment-card-border: 1px solid var(--color-gray-light);
  --form-payment-card-border-radius: var(--spacing-5);
  --form-payment-card-padding: var(--spacing-macro-5) var(--spacing-2) var(--spacing-1);
  --form-payment-card-max-width: var(--breakpoint-xxs);
  --form-payment-card-before-height: var(--spacing-macro-6);
  --form-payment-card-before-background: var(--color-gray-dark);
}

.form-payment-card {
  position: relative;
  background-color: var(--form-payment-card-background);
  border: var(--form-payment-card-border);
  border-radius: var(--form-payment-card-border-radius);
  padding: var(--form-payment-card-padding);
  max-width: var(--form-payment-card-max-width);
  overflow: hidden;
}

.form-payment-card::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: var(--form-payment-card-before-height);
  background-color: var(--form-payment-card-before-background);
}

.form-payment-card .grid-row + .grid-row {
  margin-top: var(--form-payment-grid-row-sibling-margin);
}
