/**
 * Variables ($variables)
 */

:root {
  /* Border Radii */
  --border-radius-1: 4px;
  --border-radius-circle: 50%;

  /* Breakpoints */
  --breakpoint-xxs: 367px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-xxl: 1380px;

  /**
   * Colors - Grayscale
   * Credit: http://cardinalcss.com
   */
  --color-black: #000000;
  --color-gray-darkest: #222222;
  --color-gray-darker: #444444;
  --color-gray-dark: #777777;
  --color-gray: #aaaaaa;
  --color-gray-light: #dedede;
  --color-gray-lighter: #efefef;
  --color-gray-lightest: #f8f8f8;
  --color-white: #ffffff;

  /**
   * Colors - Contextual
   * Credit: http://www.flatuicolorpicker.com
   */
  --color-contextual-positive: #c8f7c5;
  --color-contextual-neutral: #fde3a7;
  --color-contextual-negative: #f1a9a0;

  /**
   * Colors - Theme
   * Credit: http://www.flatuicolorpicker.com
   */
  --color-theme-primary: #9b59b6;
  --color-theme-primary-dark: #8e44ad;
  --color-theme-secondary: #00b16a;
  --color-theme-secondary-dark: #1e824c;
  --color-theme-tertiary: #4ecdc4;

  /* Font Families */
  --font-family-1: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --font-family-2: Georgia, Times, serif;

  /* Font Sizes */
  --font-size-1: 24px;
  --font-size-2: 20px;
  --font-size-3: 18px;
  --font-size-4: 16px;
  --font-size-5: 14px;
  --font-size-6: 12px;
  --font-size-macro-1: 144px;
  --font-size-macro-2: 96px;
  --font-size-macro-3: 72px;
  --font-size-macro-4: 64px;
  --font-size-macro-5: 48px;
  --font-size-macro-6: 32px;

  /* Font Weights */
  --font-weight-1: 400;
  --font-weight-2: 700;

  /* Letter Spacings */
  --letter-spacing-1: 0.05em;
  --letter-spacing-2: 0.1em;

  /* Line Heights */
  --line-height-1: 1.5;
  --line-height-2: 1.333;

  /* Spacing */
  --spacing-1: 24px;
  --spacing-2: 16px;
  --spacing-3: 12px;
  --spacing-4: 10px;
  --spacing-5: 6px;
  --spacing-6: 2px;
  --spacing-macro-1: 144px;
  --spacing-macro-2: 96px;
  --spacing-macro-3: 72px;
  --spacing-macro-4: 64px;
  --spacing-macro-5: 48px;
  --spacing-macro-6: 32px;

  --spacing-em-1: 1em;
  --spacing-em-2: 0.75em;
  --spacing-em-3: 0.666em;
  --spacing-em-4: 0.5em;
  --spacing-em-5: 0.333em;
  --spacing-em-6: 0.25em;

  /* Z-Index */
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-5: 500;
  --z-index-6: 600;
  --z-index-7: 700;
  --z-index-8: 800;
  --z-index-9: 900;
  --z-index-10: 1000;
}
