/**
 * Dependencies
 * @import url('../variables/variables.css');
 * @import url('../reset/reset.css');
 */

/**
 * Button ($button)
 */

:root {
  /* Default */
  --button-padding: var(--spacing-3) var(--spacing-2);
  --button-font-family: var(--font-family-1);
  --button-font-weight: var(--font-weight-2);
  --button-font-size: var(--font-size-4);
  --button-line-height: 1;
  --button-color: var(--color-gray-darkest);
  --button-background: var(--color-gray-light);
  --button-background-hover: var(--color-gray);

  /* Colors */
  --button-primary-background: var(--color-theme-primary);
  --button-primary-color: var(--color-white);
  --button-primary-hover-background: var(--color-theme-primary-dark);
  --button-secondary-background: var(--color-theme-secondary);
  --button-secondary-hover-background: var(--color-theme-secondary-dark);
  --button-secondary-color: var(--color-white);
  --button-tertiary-background: var(--color-theme-tertiary);
  --button-tertiary-hover-background: var(--color-theme-tertiary-dark);
  --button-tertiary-color: var(--color-white);
  --button-quaternary-background: var(--color-theme-quaternary);
  --button-quaternary-hover-background: var(--color-theme-quaternary-dark);
  --button-quaternary-color: var(--color-gray-darkest);
  --button-quinary-background: var(--color-theme-quinary);
  --button-quinary-hover-background: var(--color-theme-quinary-dark);
  --button-quinary-color: var(--color-white);
  --button-gray-dark-background: var(--color-gray-dark);
  --button-gray-dark-color: var(--color-white);
  --button-gray-dark-hover-background: var(--color-gray-darker);
  --button-positive-background: var(--color-contextual-positive);
  --button-positive-color: var(--color-white);
  --button-positive-hover-background: var(--color-contextual-positive-dark);
  --button-neutral-background: var(--color-contextual-neutral);
  --button-neutral-color: var(--color-white);
  --button-neutral-hover-background: var(--color-contextual-neutral-dark);
  --button-negative-background: var(--color-contextual-negative);
  --button-negative-color: var(--color-white);
  --button-negative-hover-background: var(--color-contextual-negative-dark);

  /* Sizes */
  --button-sm-padding: var(--spacing-5) var(--spacing-4);
  --button-sm-font-size: var(--font-size-6);
  --button-md-padding: var(--spacing-4) var(--spacing-3);
  --button-md-font-size: var(--font-size-5);
  --button-lg-padding: var(--spacing-2) var(--spacing-macro-6);
  --button-lg-font-size: var(--font-size-2);

  /* Styles */
  --button-rounded-border-radius: var(--border-radius-1);
  --button-chunky-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  --button-chunky-active-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);
}

.button,
.button:link,
.button:visited {
  display: inline-block;
  margin: 0;
  padding: var(--button-padding);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: var(--button-color);
  border: 0 none;
  background: var(--button-background);
}

.button:hover,
.button:focus {
  background: var(--button-background-hover);
}

/**
 * Button: Colors
 */

.button-gray-dark,
.button-gray-dark:link,
.button-gray-dark:visited {
  background: var(--button-gray-dark-background);
  color: var(--button-gray-dark-color);
}

.button-gray-dark:hover,
.button-gray-dark:focus {
  background: var(--button-gray-dark-hover-background);
}

.button-primary,
.button-primary:link,
.button-primary:visited {
  background: var(--button-primary-background);
  color: var(--button-primary-color);
}

.button-primary:hover,
.button-primary:focus {
  background: var(--button-primary-hover-background);
}

.button-secondary,
.button-secondary:link,
.button-secondary:visited {
  background: var(--button-secondary-background);
  color: var(--button-secondary-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background: var(--button-secondary-hover-background);
}

.button-tertiary,
.button-tertiary:link,
.button-tertiary:visited {
  background: var(--button-tertiary-background);
  color: var(--button-tertiary-color);
}

.button-tertiary:hover,
.button-tertiary:focus {
  background: var(--button-tertiary-hover-background);
}

.button-quaternary,
.button-quaternary:link,
.button-quaternary:visited {
  background: var(--button-quaternary-background);
  color: var(--button-quaternary-color);
}

.button-quaternary:hover,
.button-quaternary:focus {
  background: var(--button-quaternary-hover-background);
}

.button-quinary,
.button-quinary:link,
.button-quinary:visited {
  background: var(--button-quinary-background);
  color: var(--button-quinary-color);
}

.button-quinary:hover,
.button-quinary:focus {
  background: var(--button-quinary-hover-background);
}

.button-positive,
.button-positive:link,
.button-positive:visited {
  background: var(--button-positive-background);
  color: var(--button-positive-color);
}

.button-positive:hover,
.button-positive:focus {
  background: var(--button-positive-hover-background);
}

.button-neutral,
.button-neutral:link,
.button-neutral:visited {
  background: var(--button-neutral-background);
  color: var(--button-neutral-color);
}

.button-neutral:hover,
.button-neutral:focus {
  background: var(--button-neutral-hover-background);
}

.button-negative,
.button-negative:link,
.button-negative:visited {
  background: var(--button-negative-background);
  color: var(--button-negative-color);
}

.button-negative:hover,
.button-negative:focus {
  background: var(--button-negative-hover-background);
}

/**
 * Button: Sizes
 */

.button-sm {
  padding: var(--button-sm-padding);
  font-size: var(--button-sm-font-size);
}

.button-md {
  padding: var(--button-md-padding);
  font-size: var(--button-md-font-size);
}

.button-lg {
  padding: var(--button-lg-padding);
  font-size: var(--button-lg-font-size);
}

.button-block {
  display: block;
  width: 100%;
}

/**
 * Button: Styles
 */

.button-rounded {
  border-radius: var(--button-rounded-border-radius);
}

.button-chunky {
  box-shadow: var(--button-chunky-box-shadow);
}

.button-chunky:active {
  box-shadow: var(--button-chunky-active-box-shadow);
}
