/**
 * Dependencies
 * @import url('../variables/variables.css');
 * @import url('../reset/reset.css');
 */

/**
 * Alert ($alert)
 */

:root {
  /* Default */
  --alert-padding: var(--spacing-3);
  --alert-background: var(--color-gray-lighter);
  --alert-color: var(--color-gray-darkest);
  --alert-positive-background: #c8f7c5;
  --alert-neutral-background: #fde3a7;
  --alert-negative-background: #f1a9a0;
}

.alert {
  padding: var(--alert-padding);
  background-color: var(--alert-background);
  color: var(--alert-color);
}

.alert-positive {
  background-color: var(--alert-positive-background);
}

.alert-neutral {
  background-color: var(--alert-neutral-background);
}

.alert-negative {
  background-color: var(--alert-negative-background);
}
